[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
anyio = "*"

[packages]
pandas = "*"
numpy = "*"
google-cloud-storage = "*"
google-cloud-aiplatform = "*"
chromadb = "*"
langchain = "*"
langchain-community = "*"
torch = "*"
Pillow = "*"
transformers = "*"
pytest = "*"

[requires]
python_version = "3.9"
