[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pdfplumber = "*"
opencv-python-headless = "*"
google-cloud-storage = "*"
google-cloud-vision = "*"

[requires]
python_version = "3.9"
